<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-animation"></div>
    <div class="container">
        <div class="header">
            <h1>Online Voting System</h1>
        </div>
        <div class="form-wrapper">
            <form action="/vote" method="post">
                <label class="form-label">Choose an option:</label>
                <div class="radio-group">
                    <div class="radio-option">
                        <input type="radio" name="option" value="option1">
                        <span>Option 1</span>
                    </div>
                    <div class="radio-option">
                        <input type="radio" name="option" value="option2">
                        <span>Option 2</span>
                    </div>
                    <div class="radio-option">
                        <input type="radio" name="option" value="option3">
                        <span>Option 3</span>
                    </div>
                </div>
                <button class="vote-button" type="submit">Vote</button>
            </form>
        </div>
    </div>
</body>
</html>
