@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

#tabs {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#tabs button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

#tabs button.active {
  background-color: #d0d0d0;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 150px;
  height: 400px;
  margin: 10px;
  border: 2px solid #e0e0e0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.product-image {
  width: 100%;
  height: 60%;
  object-fit: fill; /* Adjust the value as per your requirement */
}


.product-badge {
    position: absolute;
    top: 10px; /* Adjust to position the badge vertically */
    left: 10px; /* Adjust to position the badge horizontally */
    padding: 5px 10px;
    border-radius: 5px;
    color: black; /* Text color */
    font-weight: bold;
    background-color: white; /* Background color */
    border: 2px solid black; /* Border */
  }
  
  

.product-badge.offer {
  background-color: #ff0000;
}

.product-badge.new {
  background-color: #00ff00;
}

.product-info {
  padding: 10px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
  }
  

.product-vendor {
  font-size: 14px;
  color: #808080;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #0000ff;
}

.product-compare {
  font-size: 14px;
  color: #808080;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-discount {
  font-size: 14px;
  color: #ff0000;
  margin-left: 10px;
}

.product-button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #0000ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}